%h1
  - if @tag
    = "Люди: #{@tag.name.inspect}"
  - else
    = 'Люди'
%h3 Всего #{@people.size}

%hr
- if @tag
  = link_to 'Редактировать тэг', edit_tag_path(@tag)
- else
  = link_to 'Добавить', new_person_path
%hr

%table.people
  %colgroup
    %col.name
    %col.tags
    %col
    %col

  %tr
    %th Имя
    %th Тэги
    %th
    %th

  - @people.each do |person|
    %tr
      %td= person.name
      %td
        - tags = person.tags.order('name ASC')
        - tags = tags.where('tags.id <> ?' , @tag.id) if @tag
        - tags.each do |t|
          = tag_element(t)
      %td.control= link_to 'Редактировать', edit_person_path(person)
      %td.control= link_to 'Удалить', person, :method => :delete, :data => { :confirm => 'Are you sure?' }
