= form_for :user do |f|
  
  .field
    = f.label :password, 'Текущий пароль'
    = f.text_field :password, autofocus: true

  .field
    = f.label :new_password, 'Новый пароль'
    = f.text_field :new_password

  .actions
    = f.submit 'Применить'

%hr
= link_to('Сбросить пароль', reset_password_path, method: :post, data: {confirm: 'Сбросить?'})
\|
= link_to 'Отмена', root_path
