%h1 Тэги
%h3 Всего #{@tags.size}

%hr
= link_to 'Добавить', new_tag_path
%hr

%table
  %colgroup
    %col.name
    %col
    %col

  - @tags.each do |tag|
    %tr
      %td
        = tag_element(tag)
      %td.control= link_to 'Редактировать', edit_tag_path(tag)
      %td.control= link_to 'Удалить', tag, :method => :delete, :data => { :confirm => 'Are you sure?' }
