!!!
%html
  %head
    %title Люди
    = stylesheet_link_tag 'application'
    = javascript_include_tag 'application'
    = csrf_meta_tag
  %body
    %div
      - if signed_in?
        %ul
          %li= link_to('Люди', people_path)
          %li= link_to('Тэги', tags_path)
          %li= link_to('Изменить пароль', edit_password_path)
          %li= link_to('Выйти', sign_out_path, data: {:confirm => 'Выйти?'})
    = yield