!!!
%html
  %head
    %title Люди на свадьбе
    = stylesheet_link_tag 'application'
    = javascript_include_tag 'application'
    = csrf_meta_tag
  %body
    .content-wrapper
      .cat
        = image_tag('cat.png')

      - if signed_in?
        %nav
          = link_to('Люди', people_path)
          \|
          = link_to('Тэги', tags_path)
          \|
          = link_to('Изменить пароль', edit_password_path)
          \|
          = link_to('Выйти', sign_out_path, data: {:confirm => 'Выйти?'})

      = yield